html, body {
  padding: 50px;
  margin: 0px;
  font-family: "Segoe UI";
  font-size: 16px;
}

.search_input {
  font-size: 16px;
  height: 23;
  line-height: 1.95em;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #737373;
  outline: none;
  background-color: transparent;
  width: 30%;
}

.disabled_row, .disabled_row:hover, .disabled_row:focus {
  background: #cccccc !important;
}

#search_bar, #view_selector {
  float: none;
  margin: 0 auto;
}
